.main-navigation {
  display: flex;
  flex-direction: column;
}

.main-navigation__toogle {
  padding: 0;
  margin-left: 277px;
  background-color: #ffffff;
  border: none;
}

.main-navigation__toogle-img {
  margin: 17px 20px;
  margin-left: 0;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
}

.main-navigation__item {
  background-color: #81b3d2;
  box-shadow: inset 0 1px 0 rgba(1, 1, 1, 0.2);
}

.main-navigation__text {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 12px;
}

.main-navigation__logo-image {
  position: absolute;
  top: 0;
  right: 68px;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    display: flex;
    flex-direction: row;
  }

  .main-navigation__toogle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 150%;
  }

  .main-navigation__item {
    background-color: #ffffff;
    width: 153px;
    box-shadow: none;
  }

  .main-navigation__text {
    color: #000000;
  }

  .main-navigation__logo-image {
    left: 290px;
  }
}


@media (min-width: $desktop-width) {
  .main-navigation {
    display: flex;
    flex-direction: row;
  }

  .main-navigation__toogle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 150%;
  }

  .main-navigation__item {
    background-color: #ffffff;
    width: 240px;
    box-shadow: none;
  }

  .main-navigation__text {
    color: #000000;
  }

  .main-navigation__logo-image {
    left: 500px;
  }
}
