.main-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-navigation__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  padding: 0;
  z-index: 9;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* Закрытое меню */
.main-navigation--closed {
  .main-navigation__toggle {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 23px;
      height: 4px;
      background-color: #81b3d2;
      box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
    }

    &:hover::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.3;
    }
  }
}
/* Открытое меню */
.main-navigation--opened {
  .main-navigation__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: -4px;
      width: 28px;
      height: 4px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      opacity: 0.6;
    }

    &:active::before,
    &:active::after {
      opacity: 0.3;
    }
  }
}
/* Меню */
.main-navigation__list {
  display: grid;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
  list-style-type: none;
  z-index: 2;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 7px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
  }
}
/* Выбранный пункт меню */
.main-navigation__item--curent {
  cursor: default;
}

.main-navigation__text {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
/* Лого всегда поверх всего */
.main-navigation__logo-image {
  margin-bottom: -45px;
  z-index: 10;
}

@media (max-width: $mobile-width-only) {
  .main-navigation__list {
    position: absolute;
    width: 100%;
  }

  .main-navigation__text {
    padding-top: 16px;
    padding-bottom: 11px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);

    &:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .main-navigation__item {
    background-color: #81b3d2;
    cursor: pointer;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
    }
  }

  .main-navigation--closed {
    .main-navigation__list {
      display: none;
    }

    &:active {
      display: block;
    }
  }

  .main-navigation--opened {
    .main-navigation__list {
      padding: 0;
    }

    .main-navigation__logo {
      visibility: hidden;
    }
  }

  .main-navigation--nojs {
    .main-navigation__toggle {
      display: none;
    }

    .main-navigation__list {
      position: static;
      padding-top: 35px;
    }
  }
}
/* Планшет */
@media (min-width: $tablet-width) {
  .main-navigation {
    flex-direction: row;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    font-size: 14px;
    line-height: 150%;
    padding: 0;
  }

  .main-navigation__item {
    background-color: #ffffff;
    width: 153px;
    box-shadow: none;
    border: none;

    &:hover .main-navigation__text {
      color: #81b3d2;
    }

    &:active .main-navigation__text {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .main-navigation__item--curent {
    .main-navigation__text,
    &:hover .main-navigation__text,
    &:active .main-navigation__text {
      color: #766357;
    }
  }

  .main-navigation__text {
    padding-top: 18px;
    padding-bottom: 17px;
    color: #000000;
  }

  .main-navigation__logo-image {
    position: absolute;
    left: calc(50% - 93px);
  }
}
/* Десктп */
@media (min-width: $desktop-width) {
  .main-navigation {
    display: flex;
    flex-direction: row;
  }

  .main-navigation__item {
    background-color: #ffffff;
    width: 240px;
    box-shadow: none;
  }
}
