.copyright {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &:hover .copyright__text,
  &:hover .copyright__link-img {
    color: #81b3d2;
  }

  &:active .copyright__text,
  &:active .copyright__link-img {
    color: #b3b3b3;
  }
}

.copyright__text {
  display: inline-block;
  line-height: 150%;
  margin-bottom: 29px;
  color: #000000;
  text-decoration: none;
}

.copyright__link {
  margin-bottom: 23px;
}

.copyright__link-img {
  color: #000000;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin: 0;
    margin-right: 13px;
  }

  .copyright__link {
    margin-bottom: 0;
  }
}
