.copyright {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.copyright__text {
  display: inline-block;
  line-height: 150%;
  margin-bottom: 29px;
}

.copyright__link {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin: 0;
    margin-right: 13px;
  }

  .copyright__link {
    margin-bottom: 0;
  }
}
