.main-footer__wraper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 18px;
  margin-right: 18px;
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-footer__wraper {
    width: $tablet-width;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
  }

  .main-footer__hashtag {
    margin: 0;
    margin-left: 45px;
  }

  .main-footer__social {
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wraper {
    width: $desktop-width;
  }

  .main-footer__hashtag {
    margin-left: 104px;
  }
}
