.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 124%;
  color: #ffffff;
  text-decoration: none;
}

.button__search {
  display: block;
  background-color: #81b3d2;
  padding: 16px 47px;
  margin-bottom: 49px;
  margin-left: 19px;
  margin-right: 18px;
}

@media (min-width: $tablet-width) {
  .button__search {
    padding: 121px;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-left: 155px;
    margin-right: 155px;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .button__search {
    margin-left: 371px;
    margin-right: 371px;
    margin-bottom: 66px;
  }
}

.button__reviews {
  background-color: #81b3d2;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 32px;
  padding-right: 34px;
  margin-bottom: 2px;
}

@media (min-width: $tablet-width) {
  .button__reviews {
    padding-left: 66px;
    padding-right: 76px;
  }
}

@media (min-width: $desktop-width) {
  .button__reviews {
    margin-left: 96px;
    padding-left: 95px;
    padding-right: 107px;
  }
}

.button__modal-exit {
  background-color: #81b3d2;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 54px;
  padding-right: 55px;
}

.button__search,
.button__reviews,
.button__modal-exit {
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
