.button {
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  color: #ffffff;
  text-decoration: none;
}

.button__search {
  display: block;
  background-color: #81b3d2;
  padding: 16px 47px;
  margin-bottom: 49px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .button__search {
    padding: 121px;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-left: 155px;
    margin-right: 155px;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .button__search {
    margin-left: 371px;
    margin-right: 371px;
    margin-bottom: 66px;
  }
}

.button__reviews {
  background-color: #81b3d2;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 32px;
  padding-right: 34px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 3px;
}

.button__modal-exit {
  background-color: #81b3d2;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 60px;
  padding-right: 60px;
}
