.form__input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  display: block;
  background-color: #f2f2f2;
  border: none;
  min-width: 264px;
  padding: 16px;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-right: 0;
  margin-left: -17px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 4px #e5e5e5;
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}

@media (min-width: $desktop-width) {
  .form__input {
    box-sizing: border-box;
    width: 430px;
  }

  .author-contact__telefon,
  .author-contact__email {
    .form__input {
      width: 402px;
    }
  }
}
