.form__input {
  display: block;
  background-color: #e7e5e5;
  border: none;
  min-width: 264px;
  padding: 16px;
  padding-right: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
}
