.main-container {
  width: 320px;
}

.main-container__intro-img {
  margin: auto;
}

.main-container__intro {
  background-image: url("../img/intro-triangle-catalog.svg"), url("../img/back-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: bottom, bottom;
  background-color: #e3f0f9;
}

@media (max-width: $mobile-width-only) {
  .main-container__intro {
    height: 158px;
  }

  .main-catalog .main-container__intro {
    margin-bottom: 32px;
  }

  @media (min-resolution: 2dppx) {
    .main-container__intro {
      background-image: url("../img/intro-triangle-catalog.svg"), url("../img/back-desktop@2x.png");
      background-size: 1200px auto;
    }
  }

  .main-container__intro-img {
    width: 229px;
    height: 39px;
    margin-top: 52px;
  }
}

@media (min-width: $tablet-width) {
  .main-container {
    width: $tablet-width;
  }

  .main-catalog .main-container__intro {
    margin-bottom: 60px;
  }

  .main-container__intro {
    height: 290px;
    background-image: url("../img/intro-divider-tablet.svg"), url("../img/back-desktop@1x.png");
  }

  @media (min-resolution: 2dppx) {
    .main-container__intro {
      background-image: url("../img/intro-divider-tablet.svg"), url("../img/back-desktop@2x.png");
      background-size: 1200px auto;
    }
  }

  .main-container__intro-img {
    margin-top: 95px;
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    width: $desktop-width;
  }

  .main-catalog .main-container__intro {
    margin-bottom: 98px;
  }

  .main-container__intro {
    height: 301px;
    background-image: url("../img/intro-divider-desktop.svg"), url("../img/back-desktop@1x.png");
  }

  @media (min-resolution: 2dppx) {
    .main-container__intro {
      background-image: url("../img/intro-divider-desktop.svg"), url("../img/back-desktop@2x.png");
      background-size: 1200px auto;
    }
  }

  .main-container__intro-img {
    margin-top: 101px;
  }
}
