.main-container {
  width: 320px;
}

.main-container__intro-img {
  margin: auto;
}

.main-container__intro {
  background-image: url("../img/intro-triangle-catalog.svg"), url("../img/back-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #e3f0f9;
  margin-bottom: 36px;
}

@media (max-width: $mobile-width-only) {
  .main-container__intro {
    height: 158px;
  }

  .main-container__intro-img {
    width: 229px;
    height: 39px;
    margin-top: 52px;
  }
}

@media (min-width: $tablet-width) {
  .main-container {
    width: $tablet-width;
  }

  .main-container__intro {
    height: 290px;
    background-image: url("../img/intro-divider-tablet.svg"), url("../img/back-desktop.jpg");
    background-size: initial;
  }

  .main-container__intro-img {
    margin-top: 95px;
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    width: $desktop-width;
  }

  .main-container__intro {
    height: 301px;
    background-image: url("../img/intro-divider-desktop.svg"), url("../img/back-desktop.jpg");
  }

  .main-container__intro-img {
    margin-top: 101px;
  }
}
