.main-container {
  width: 320px;
}

.main-container__intro-img {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 67px;
}

.main-container__intro {
  background-image: url("../img/intro-triangle-catalog.svg"), url("../img/back-desktop.jpg");
  min-height: 214px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #e3f0f9;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .main-container {
    width: $tablet-width;
  }

  .main-container__intro {
    background-image: url("../img/intro-divider-tablet.svg"), url("../img/back-desktop.jpg");
    background-size: initial;
  }
}

@media (min-width: $desktop-width) {
  .main-container__intro {
    background-image: url("../img/intro-divider-desktop.svg"), url("../img/back-desktop.jpg");
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    width: $desktop-width;
  }
}
