.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.page__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
}
