.presentation__wrapper {
  margin-bottom: 29px;
}

.presentation__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 700;
  line-height: 144%;
}

.presentation__text {
  line-height: 150%;
  margin: 0;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .presentation__text {
    margin-left: 105px;
    margin-right: 105px;
  }

  .presentation__video-img {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: $desktop-width) {
  .presentation__text {
    margin-left: 377px;
    margin-right: 378px;
  }

  .presentation__video-img {
    width: 800px;
  }
}
