.presentation__wrapper {
  margin-bottom: 29px;
}

.presentation__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 700;
  line-height: 144%;
}

.presentation__text {
  line-height: 150%;
  margin: 0;
  margin-bottom: 38px;
}
