.presentation__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 700;
  line-height: 144%;
}

.presentation__text {
  line-height: 150%;
  margin: 0;
  margin-bottom: 39px;
}

@media (max-width: $mobile-width-only) {
  .presentation__text {
    width: 266px;
    margin: auto;
    margin-bottom: 38px;
  }

  .presentation__wrapper {
    margin-bottom: 23px;
  }
}

@media (min-width: $tablet-width) {
  .presentation__wrapper {
    margin-bottom: 71px;
  }

  .presentation__title {
    font-size: 30px;
    line-height: 87%;
    margin-bottom: 32px;
  }

  .presentation__text {
    width: 445px;
    margin: auto;
    margin-bottom: 89px;
  }

  .presentation__video-img {
    object-fit: cover;
    width: 648px;
    height: 500px;
  }
}

@media (min-width: $desktop-width) {
  .presentation__wrapper {
    margin-bottom: 112px;
  }

  .presentation__title {
    margin-bottom: 31px;
  }

  .presentation__text {
    margin-left: 377px;
    margin-right: 378px;
    margin-bottom: 88px;
  }

  .presentation__video-img {
    width: 800px;
  }
}
