.gallery__title {
  font-size: 18px;
  line-height: 144%;
  font-weight: 700;
}

.gallery__text {
  line-height: 150%;
  margin: 0;
  margin-bottom: 43px;
  color: #333333;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: $mobile-width-only) {
  .gallery__wrapper {
    position: relative;
    margin-bottom: -8px;
    padding: 0 20px;
  }

  .gallery__title {
    margin: 0;
    margin-bottom: 25px;
  }

  .gallery__text {
    margin-bottom: 67px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #e5e5e5;
      bottom: 0;
      left: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .gallery__wrapper {
    padding: 0 60px;
    margin-bottom: 55px;
  }

  .gallery__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 87%;
    margin-bottom: 32px;
  }

  .gallery__text {
    margin-left: 101px;
    margin-right: 101px;
    margin-bottom: 87px;
  }

  .gallery__content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .gallery__wrapper {
    padding: 0;
    margin-bottom: 60px;
  }

  .gallery__title {

    margin-bottom: 32px;
  }

  .gallery__text {
    margin-left: 377px;
    margin-right: 377px;
    margin-bottom: 89px;
  }
}
