.photo__content {
  margin: 0;
}

.photo__figure {
  margin: 0;
  margin-bottom: 25px;
}

.photo__image {
  max-width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 15px;
}

.photo__description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.photo__title {
  font-weight: 700;
  line-height: 150%;
  display: block;
  margin: 0;
  text-align: left;
}

.photo__author {
  display: block;
  margin: 0;
  text-align: left;
  text-transform: none;
  color: #333333;
}

.photo__like {
  margin: 0;
}

.photo__like-icon {
  margin: 0;
  margin-right: 14px;
  fill: #000000;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .photo__image {
    min-width: 324px;
    min-height: 267px;
    border: none;
    display: block;
    margin: 0;
  }

  /* .photo__image--full-size {
    width: 648px;
    height: 400px;
  } */

  .photo__description {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
  }

  .photo__figure {
    margin: 0;
  }

  .photo__author-information {
    margin: 0;
    margin-top: 22px;
    margin-left: 21px;
    margin-bottom: 15px;
  }

  .photo__author {
    color: #333333;
  }

  .photo__like {
    margin: 0;
    margin-top: 27px;
    margin-right: 20px;
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop-width) {
  /* .photo__image {
    width: 400px;
  } */

  .photo__image--full-size {
    width: 1200px;
  }

  .photo__description {
    margin-top: -82px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.99;
    color: rgba(255, 255, 255, 1);
  }

  .photo__author {
    color: #ffffff;
  }

  .photo__like-icon {
    fill: rgba(255, 255, 255);
    opacity: 1;
  }
}
