.photo__content {
  margin: 0;
  border-top: 1px solid #e5e5e5;
}

.photo__image {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 25px;
}

.photo__ {
  margin: 0;
  margin-bottom: 15px;
}

.photo__description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.photo__title {
  font-weight: 700;
  line-height: 150%;
  display: block;
  margin: 0;
  margin-bottom: 3px;
}

.photo__author {
  display: block;
  margin: 0;
  margin-bottom: 11px;
  text-transform: none;
  color: #333333;
}

.photo__like {
  margin: 0;
}

.photo__like-icon {
  margin: 0;
  margin-right: 14px;
}
