.content {
  text-align: left;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.content__list {
  padding: 0;
  margin-left: 18px;
  margin-right: 18px;
  list-style-type: none;
}

.content__title {
  line-height: 26px;
  font-weight: 700;
}

@media (max-width: $mobile-width-only) {
  .content__item {
    padding-left: 47px;
    margin-bottom: 22px;
  }

  .content__icon--house {
    background-image: url("../img/icons/icon-house-mobile.svg");
    background-repeat: no-repeat;
  }

  .content__icon--burger {
    background-image: url("../img/icons/icon-burger-mobile.svg");
    background-repeat: no-repeat;
  }

  .content__icon--present {
    background-image: url("../img/icons/icon-present-mobile.svg");
    background-repeat: no-repeat;
  }

  .content__title {
    padding-top: 8px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .content__description {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .content__list {
    display: flex;
    margin: 0;
    list-style-type: none;
  }

  .content__item {
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__icon--house {
    background-image: url("../img/icons/icon-house.svg");
    background-repeat: no-repeat;
    background-position: center 60px;
  }

  .content__icon--burger {
    background-image: url("../img/icons/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: center 63px;
  }

  .content__icon--present {
    background-image: url("../img/icons/icon-present.svg");
    background-repeat: no-repeat;
    background-position: center 58px;
  }

  .content__title {
    padding: 0;
    margin-top: 158px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 21px;
    line-height: 124%;
  }

  .content__description {
    text-align: center;
    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 59px;
  }
}

@media (min-width: $desktop-width) {
  .content__item {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__description {
    width: 282px;
  }
}
