.content {
  text-align: left;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.content__list {
  padding: 0;
  margin-left: 18px;
  margin-right: 18px;
  list-style-type: none;
}

.content__icon--house,
.content__icon--burger,
.content__icon--present {
  background-repeat: no-repeat;
}

.content__icon--house {
  background-image: url("../img/icons/icon-house.svg");
}

.content__icon--burger {
  background-image: url("../img/icons/icon-burger.svg");
}

.content__icon--present {
  background-image: url("../img/icons/icon-present.svg");
}

.content__title {
  line-height: 26px;
  font-weight: 700;
}

@media (max-width: $mobile-width-only) {
  .content__item {
    padding-left: 47px;
    margin-bottom: 22px;
  }

  .content__icon--house,
  .content__icon--burger,
  .content__icon--present {
    background-size: 40px 40px;
  }

  .content__title {
    font-size: 18px;
    padding-top: 8px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .content__icon--burger {
    .content__title {
      margin-left: 5px;
    }

    .content__description {
      margin-left: 5px;
    }
  }

  .content__icon--present {
    .content__title {
      margin-left: -3px;
    }

    .content__description {
      margin-left: -3px;
    }
  }

  .content__description {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .content__list {
    display: flex;
    margin: 0;
    list-style-type: none;
  }

  .content__item {
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__title {
    padding: 0;
    margin-top: 158px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 21px;
    line-height: 124%;
  }

  .content__description {
    text-align: center;
    margin: 0;
    margin-bottom: 59px;
  }

  .content__icon--house {
    background-position: center 60px;

    .content__description {
      width: 185px;
      margin-left: 38px;
      margin-right: 39px;
    }
  }

  .content__icon--burger {
    background-position: 88px 63px;

    .content__description {
      margin-top: -1px;
      margin-left: 49px;
      margin-right: 50px;
    }
  }

  .content__icon--present {
    background-position: 95px 57px;

    .content__description {
      width: 193px;
      margin-top: -1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .content__list {
    margin-bottom: 21px;
  }

  .content__item {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__description {
    width: 282px;
  }

  .content__icon--house {
    background-position: 161px 59px;

    .content__description {
      width: 282px;
      margin-left: 37px;
      margin-right: 39px;
    }
  }

  .content__icon--burger {
    background-position: 161px 63px;

    .content__description {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  .content__icon--present {
    background-position: 166px 57px;

    .content__description {
      width: 195px;
      margin-left: 19px;
    }
  }
}
