.main-index__intro {
  background-image: url("../img/divider-mobile.svg"), url("../img/index-intro-desktop.png");
  min-height: 389px;
  background-repeat: no-repeat;
  background-position: bottom, center -52px;
  background-color: #e3f0f9;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .main-index__intro {
    background-image: url("../img/intro-divider-tablet.svg"), url("../img/index-intro-desktop.png");
    min-height: 518px;
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .main-index__intro {
    background-image: url("../img/intro-divider-desktop.svg"), url("../img/index-intro-desktop.png");
    min-height: 518px;
    margin-bottom: 59px;
  }
}
