.main-index__intro {
  background-image: url("../img/divider-mobile.svg"), url("../img/index-intro-mobile.jpg");
  min-height: 389px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #e3f0f9;
}
