.maps__location {
  border: none;
}

@media (max-width: $mobile-width-only) {
  .maps__location {
    margin-bottom: 33px;
  }
}

@media (min-width: $tablet-width) {
  .maps__location {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .maps__location {
    margin-bottom: 29px;
  }
}
