.author-impression__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 19px;
}

.author-impression__wrapper {
  display: flex;
  gap: 16px;
}

.author-impression__text {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  text-align: left;
  text-transform: none;
  width: 280px;
  padding-left: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;

  &:hover .author-impression__mark {
    background-color: #e5e5e5;
  }

  &:active .author-impression__mark {
    background-color: #d5d5d5;
  }
}

.author-impression__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.author-impression__input {
  &:checked + .author-impression__mark {
    background-image: url("../img/icons/contro-mark-ellipse.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:active + .author-impression__mark {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .author-impression__wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .author-impression {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .author-impression__title {
    font-size: 21px;
    line-height: 124%;
    width: 402px;
    margin-bottom: 29px;
    padding: 0;
  }

  .author-impression__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 36px;
  }
}

@media (min-width: $desktop-width) {
  .author-impression {
    width: calc($desktop-width - 240px);
  }

  .author-impression__title {
    margin-bottom: 45px;
  }

  .author-impression__wrapper {
    margin-left: 53px;
    gap: 28px;
  }
}
