.author-visited__title {
  margin-bottom: 20px;
}

.author-visited__text {
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
}

.author-visited__input {
  margin-right: 28px;
}
