.author-contact__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 144%;
  margin-bottom: 24px;
}

.author-contact__telefon,
.author-contact__email {
  text-align: left;
  line-height: 150%;

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    right: 0;
  }
}

.author-contact__telefon {
  &::before {
    background-image: url("../img/icons/icon-phone.svg");
    background-position: center;
    background-repeat: no-repeat;
    top: 21px;
  }
}

.author-contact__email {
  &::before {
    background-image: url("../img/icons/icon-mail.svg");
    background-position: center;
    background-repeat: no-repeat;
    top: 116px;
  }
}

@media (min-width: $tablet-width) {
  .author-contact__title {
    padding: 0;
    margin-bottom: 28px;
  }
}
