.author-contact__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 144%;
  margin-bottom: 24px;
}

.author-contact__telefon,
.author-contact__email {
  text-align: left;
  line-height: 150%;
}

@media (min-width: $tablet-width) {
  .author-contact__title {
    padding: 0;
    margin-bottom: 28px;
  }
}
