.reviews__wrapper {
  width: 280px;
  margin: 0;
  margin-left: 20px;
  margin-top: 36px;
}

.reviews__title {
  font-size: 18px;
  line-height: 144%;
  font-weight: 700;
}

.reviews__text {
  color: #333333;
  line-height: 150%;
  margin-bottom: 28px;
}

.reviews__form {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.reviews__author-fieldset {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 39px;
}

.reviews__author-title {
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 144%;
  font-weight: 700;
}

.reviews__author-name,
.reviews__author-surname,
.reviews__author-middle-name,
.reviews__author-contact {
  text-align: left;
}

.reviews__author-contact {
  margin-top: 24px;
  margin-bottom: 34px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.reviews__author-impression {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.reviews__author-visited {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.author-visited__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
}

.reviews__author-emotions {
  margin-top: 24px;
  margin-bottom: 56px;
  padding: 0;
}

.reviews__footnote {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
  margin: 0;
  margin-right: 20px;
  color: rgba(51, 51, 51, 0.6);
}

@media (min-width: $tablet-width) {
  .reviews {
    width: $tablet-width;
  }

  .reviews__wrapper {
    width: 648px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }

  .reviews__text {
    margin-left: 107px;
    margin-right: 106px;
  }

  .reviews__author-fieldset {
    margin-bottom: 48px;
    margin-left: 19px;
  }

  .reviews__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__author-impression {
    margin: 0;
    margin-bottom: 48px;
  }

  .reviews__author-contact {
    margin: 0;
    margin-bottom: 48px;
  }

  .reviews__author-visited {
    margin: 0;
    margin-bottom: 42px;
  }

  .reviews__author-emotions {
    margin: 0;
  }

  .reviews__footnote {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-width;
  }

  .reviews__wrapper {
    width: 960px;
    margin: 0;
    margin-left: 120px;
    margin-right: 120px;
  }

  .reviews__form {
    margin-bottom: 100px;
  }

  .reviews__author-emotions {
    margin-bottom: 48px;
  }

  .reviews__footnote {
    margin-right: 96px;
  }
}
