.reviews__wrapper {
  width: 280px;
  margin: 0;
  margin-left: 20px;
  margin-top: 36px;
}

.reviews__title {
  font-size: 18px;
  line-height: 144%;
  font-weight: 700;
}

.reviews__text {
  color: #333333;
  line-height: 150%;
  margin: 0;
}

.reviews__form {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.reviews__author-fieldset,
.reviews__author-contact,
.reviews__author-impression,
.reviews__author-visited,
.reviews__author-emotions {
  position: relative;
}

.reviews__layer {
  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #dbdbdb;
    top: 0;
  }
}

.reviews__author-fieldset {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 29px;
}

.reviews__author-title {
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 144%;
  font-weight: 700;
}

.reviews__author-name,
.reviews__author-surname,
.reviews__author-middle-name,
.reviews__author-contact {
  text-align: left;
}

.reviews__author-contact {
  margin-bottom: 34px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.reviews__author-impression {
  margin-bottom: 24px;
  margin-right: 20px;
  margin-left: 1px;
  padding: 0;
}

.reviews__author-visited {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.author-visited__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
}

.reviews__author-emotions {
  margin-bottom: 56px;
  padding: 0;
}

.reviews__footnote {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
  margin: 0;
  color: rgba(51, 51, 51, 0.6);
}

@media (max-width: $mobile-width-only) {
  .reviews__wrapper {
    margin-bottom: 52px;
  }

  .reviews__author-title {
    margin-bottom: 20px;
  }

  .reviews__author-fieldset {
    margin-bottom: 49px;
    margin-left: 0;
  }

  .reviews__author-name,
  .reviews__author-surname,
  .reviews__author-middle-name,
  .reviews__author-contact {
    margin-left: 17px;
  }

  .reviews__author-contact {
    margin-left: 17px;
    margin-bottom: 43px;

    .reviews__layer::before {
      left: -36px;
      top: -26px;
    }
  }

  .reviews__author-visited {
    margin-bottom: 48px;
  }

  .reviews__title {
    margin-bottom: 23px;
  }

  .reviews__text {
    margin-bottom: 53px;
  }

  .reviews__layer {
    &::before {
      min-width: 320px;
      background-color: #dbdbdb;
      left: -21px;
      top: -25px;
    }
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    width: $tablet-width;
  }

  .reviews__wrapper {
    width: 648px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 94px;
    margin-top: 64px;
  }

  .reviews__title {
    font-size: 30px;
    line-height: 87%;
    font-weight: 700;
    margin-bottom: 21px;
  }

  .reviews__text {
    line-height: 171%;
    margin-left: 107px;
    margin-right: 106px;
    margin-bottom: 101px;
  }

  .reviews__author-fieldset {
    margin-bottom: 47px;
    margin-left: 16px;

    .reviews__layer {
      &::before {
        display: none;
      }
    }
  }

  .reviews__author-fieldset,
  .reviews__author-contact {
    .reviews__layer {
      &::after {
        display: none;
      }
    }
  }

  .reviews__layer {
    &::before,
    &::after {
      width: 123px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .reviews__author-impression,
  .reviews__author-emotions {
    .reviews__layer {
      &::before,
      &::after {
        top: 12px;
      }
    }
  }

  .reviews__layer--vertical {
    &::before {
      width: 1px;
      height: 100%;
      left: -62px;
    }
  }

  .reviews__author-title {
    font-size: 21px;
    line-height: 124%;
    margin-left: 13px;
  }

  .reviews__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__author-impression {
    margin: 0;
    margin-bottom: 48px;
  }

  .reviews__author-contact {
    margin: 0;
    margin-bottom: 48px;
    margin-top: -1px;
    margin-right: -13px;
  }

  .reviews__author-visited {
    margin: 0;
    margin-bottom: 41px;

    .reviews__layer {
      &::before,
      &::after {
        top: 26px;
      }
    }
  }

  .reviews__author-emotions {
    margin: 0;
    margin-bottom: 48px;
  }

  .reviews__footnote {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-width;
  }

  .reviews__wrapper {
    width: 960px;
    margin: 0;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 95px;
  }

  .reviews__title {
    margin-bottom: 32px;
  }

  .reviews__text {
    line-height: 150%;
    margin-left: 262px;
    margin-right: 263px;
    margin-bottom: 69px;
  }

  .reviews__layer {
    &::before,
    &::after {
      width: 280px;
    }
  }

  .reviews__layer--vertical {
    &::before {
      width: 1px;
      left: -81px;
    }
  }

  .reviews__author-title {
    margin-left: 25px;
  }

  .reviews__author-fieldset {
    margin-bottom: 56px;
  }

  .reviews__author-impression {
    margin-bottom: 74px;
  }

  .reviews__author-emotions {
    margin-bottom: 47px;
  }

  .reviews__author-visited {
    margin-bottom: 86px;
  }

  .reviews__footnote {
    margin-right: 96px;
  }
}
